<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    {% include 'single_page/base.html' %}
    <title>Create</title>
    <div class="container">
        <div class="row">
            <div class="col12">
                <div class="card">
                    <div class="card-body">
                        <h2>새로 작성하기</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-outline-primary">완료</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</head>
</html>
